<div class="social-grid">
  <button type="button" class="social-btn" disabled title="Segera hadir" aria-label="Facebook (segera hadir)">{% include 'partials/icon.html' with name='facebook' cls='ico-lg' %}</button>
  <button type="button" class="social-btn" disabled title="Segera hadir" aria-label="Google (segera hadir)">{% include 'partials/icon.html' with name='google' cls='ico-lg' %}</button>
  <button type="button" class="social-btn" disabled title="Segera hadir" aria-label="Apple (segera hadir)">{% include 'partials/icon.html' with name='apple' cls='ico-lg' %}</button>
</div>
